@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 19%, rgba(247, 222, 255, 1) 46%, rgba(238, 174, 202, 1) 100%);
  color: rgb(27, 27, 27);
}

::-webkit-scrollbar { /* Hide the scrollbar Lakshya */
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
}
}
