@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar { /* Hide the scrollbar Lakshya */
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
