@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  
  background: #FFFFFF;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 38%, rgb(222, 201, 240) 85%, rgb(203, 158, 240) 100%);
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
  font-weight: 400;
  font-size: 1.2rem;
  animation: breathe-bg 5s ease-out infinite normal
}

@keyframes breathe-bg {
  0% {
    background-size: 100%;
    background-position: center center;
  }
  50% {
    background-size: 125%;
    background-position: center center;
  }
  100% {
    background-size: 100%;
    background-position: center center;
  }
}



::-webkit-scrollbar { /* Hide the scrollbar Lakshya */
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
}
}
