@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  
  background: #FFFFFF;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 38%, rgba(221, 207, 233, 1) 75%, rgb(203, 158, 240) 100%);
  color: rgb(27, 27, 27);
  font-weight: 400;
  font-size: 1.2rem;
}

::-webkit-scrollbar { /* Hide the scrollbar Lakshya */
  display: none;
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
}
}
